@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db white;
}

@layer base {
  body {
    @apply bg-white text-main;
  }

  button:not([role="checkbox"]),
  a {
    @apply focus-visible:focus-ring;
  }

  .focus-ring {
    @apply outline-none ring-2 ring-ring ring-offset-2 ring-offset-white;
  }

  .focus-input-ring {
    @apply border border-primary outline-none ring-2 ring-primary-lighter;
  }

  .focus-input-ring-error {
    @apply border border-error outline-none ring-2 ring-error-lighter;
  }

  .disable-focus-ring {
    @apply focus-visible:ring-0;
  }
}
